# Les fichiers à ne pas mettre sur le GIT !

*.class
*.bak
*.swp
\#*
.\#*
*~
*.log
*.html
doc/

# Pour eclipse
.metadata
bin/
target/
.settings/
.loadpath
.recommenders
*.launch
.classpath
.project
**/bin/
**/out/
**/target/
*.class
**/.idea
**/.metadata
**/.recommenders
.DS_Store
**/.project
**/.classpath
**/.settings

# Pour intelliJ
.idea
.gradle
out/

# Pour vscode
.vscode
!.vscode
*.code-workspace

