# Les fichiers à ne pas mettre sur le GIT !

*.class
*.bak
*.swp
\#*
.\#*
*~
*.log
*.html
doc/

# Pour eclipse
.metadata
bin/
.settings/
.loadpath
.recommenders
*.launch
**/target/
target/
.classpath
.project

# Pour intelliJ
.idea
.gradle
out/

# Pour vscode
.vscode
!.vscode
*.code-workspace

